div.menu {
  width: 100%;
  height: 40px;
  background-color: black;
}
div.menu > nav {
  width: inherit;
  height: inherit;
}
div.menu > nav > ul {
  width: inherit;
  height: inherit;
  list-style: none;
  text-align: center;
}
div.menu > nav > ul > li {
  display: inline-block;
  width: auto;
  height: inherit;
}
div.menu > nav > ul > li > a {
  display: block;
  width: auto;
  height: inherit;
  line-height: 40px;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 14px;
  color: whitesmoke;
  padding: 0 15px;
  box-sizing: border-box;
}
label[for="menu"],
label[for="close"],
#close,
#menu {
  display: none;
}
div.slider {
  width: 100%;
  height: calc(100vh - 40px);
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
div.products {
  width: 100%;
  padding: 15px;
  text-align: center;
  box-sizing: border-box;
}
div.products > div.product {
  width: 45%;
  display: inline-block;
  background-color: rgb(146, 108, 13);
  margin-bottom: 15px;
}
div.products > div.product > h2 {
  text-align: center;
  text-transform: capitalize;
  margin: 15px;
}
div.products > div.product > p {
  margin: 15px;
  text-align: justify;
}
div.products > div.product > img {
  width: 100%;
}
div.products > div.product > a {
  display: block;
  width: 150px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background-color: rgb(172, 131, 28);
  margin: 0px auto;
  border-radius: 10px;
  font-size: 18px;
  text-decoration: none;
  text-transform: capitalize;
  color: black;
  margin-bottom: 10px;
}
